<% include partials/header %>

<!--Modal Stuff-->
<div class="ui basic modal">
  <div class="header">
        Warning
  </div>
  <div class="content">
    <p>Do you really want to delete this post? You cannot undo it :<.</p>
  </div>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
        <i class="remove icon"></i>
        No
    </div>
    <div class="ui green basic ok inverted button">
        <i class="checkmark icon"></i>
        Yes
    </div>
  </div>
</div>

<!--Container Stuff-->
<div class="ui main text container segment">
    <!--Message stuff temporary solution-->
    <div class="ui top attached positive message transition hidden">
          <div class="header">
               Update Successfully
          </div>
          <p>You updated current blog successfuly right now:)</p>
    </div>
    <div class="ui huge header"><%= blog.title %></div>
        <div class="ui top attached">
            <div class="item">
                <img class="ui centered rounded image" src="<%= blog.image %>"></img>
                <div class="content">
                    <span><%= blog.created.toDateString() %></span>
                </div>
                <div class="description">
                    <p><%- blog.body %></p>       
                </div>
                <div class="align-right">
                    <a href="/blogs/<%= blog._id%>/edit" class="ui inverted blue button">
                        <i class="edit outline icon"></i>
                        Edit
                    </a>
                    <div id="btn_delete" class="ui right inverted red button">
                        <i class="trash alternate outline icon"></i>
                        Delete
                    </div>
                </div>
                <form id="form_delete" action="/blogs/<%= blog._id%>?_method=DELETE" method="POST">
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $('#btn_delete').click(function(){
        $('.ui.basic.modal').modal({
            closable: false,
            onDeny: function(){
            },
            onApprove: function() {
              $('#form_delete').submit();
            }
        }).modal('show')
    });
</script>
    
<% include partials/footer %>
